{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid" style="background-image: url()">
	<div class="row">
		<div class="col-lg-12 text-center mt-5">
			<img src="/static/images/laptop.png" class="img-fluid" alt="Responsive image" width="250">
			<h1 class="mt-2 text-dark">Find remote jobs in <span class="rounded badge border border-dark badge-primary"> {{ categories.name }}</span></h1>
			<ul class="list-unstyled">
				<button class="btn btn-danger mt-4 btn-lg rounded" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job for $199</button>
			</ul>
		</div>
	</div>
</div>
<div class="container col-sm-7 mt-4">
	<div class="card border-0">
		<h5 class="text-dark mt-2"><img src="/media/{{categories.cat_image}}" class="img-fluid" alt="Responsive image" width="55">{{categories.name}}<span class="small"> ({{categories.total_jobs_per_category}})</a></span>
			<!-- <span class="card-text float-right"><small class="text-white">{{job.last_update}}</small></span> -->
			<span class="card-text"><small class="text-muted col-sm-8"> Last updated 3 mins ago</small></span>
		</h5>
		{% for job in jobs_list %}
			<a href="{% url 'jobs:job-detail' job.id %}" style="color: #343a40; text-decoration: none;">
			{% if job.is_featured %}
				<div class="card-body-1 box shadow rounded py-4 mt-2 border-left-warning"> 
			{% else %}
				<div class="card-body-1 box shadow rounded border-left-primary py-4 mt-2"> 
			{% endif %} 
					<div class="float-right">
						<img src="/media/{{job.get_job_company}}" alt="Girl in a jacket" width="100" height="80">
					</div>
					<h5 class="card-title nav-item ">{{job.title}}
						<span class="badge badge-primary"> Devops </span>
						<span class="badge badge-primary"> Django </span>
						<span class="badge badge-primary"> Python </span>
						<h6 class="card-title nav-item text-muted">{{job.job_type}} ({{job.headquarters}})</h6>
					</h5>
				</div>
		</a>
		{% endfor %}
	</div>
</div>

{% endblock %}