{% extends "main.html" %}

{% block content_additions %}

<div class="row justify-content-md-center mt-5">
  <div class="col-sm-9 mt-4">
  	<div class="container mt-3">
    <a href="/jobs/" class="" style="color: #343a40"><img src="/static/assets/vendor/iconic/png/caret-left-2x.png"> Back to all jobs</a>
	</div>
  </div>
</div>
<div class="row justify-content-md-center mt-5">
<div class="col-sm-12">
<div class="container mt-3">
	<div class="card border-0">
		<div class="card-body rounded shadow py-3 border-primary">
			<h2 class="card-title mb-3">{{company.name}}
				<img src="/media/{{company.logo}}" class="float-right shadow-sm img-thumbnail" alt="Responsive image" style="max-width: 200px">
				<h4 class="card-title mb-3">Company Tagline</h4>
			</h2>
			<i class="text-muted">Location</i><br>
			<i class="text-muted">Jobs Posted: {{job_posted}}</i><br>
			<i class="text-muted"><a href="http://{{company.website}}" target="_blank">{{company.website}}</i></a>
			 <div class="row">
             		<div class="col"><hr></div>
             </div>
			<p class="card-text" style="padding-bottom: 150px">
				{{company.description}}
			</p>
		</div>
	</div>
</div>
</div>
</div>

{% endblock %}