{% extends "main.html" %}

{% block content_additions %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-sm-6">
        <h1 class="my-4">Blog Posts</h1>
        <!-- Blog Post -->
        {% for blog in blog_list %}
        <div class="card mb-4">
          <img class="card-img-top" src="/media/{{blog.blog_image}}" style="max-width: 750px" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">Top 10 remote jobs</h2>
            <p class="card-text">{{blog.content}}</p>
            <a href="{% url 'resources:blog-detail' blog.id %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{blog.create_date}}
          </div>
        </div>
        {% endfor %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>
      </div>
    </div>
   </div>

{% endblock %}