{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <h1 class="mb-4">Blogs we &#10084;</h1>
      </ul>
    </div>
  </div>
</div>

 <div class="container col-sm-8">
      {% for blog in blog_list %}
      <div class="card shadow-sm mb-4 border">
        <img class="card-img-top mb-1 p-1 jumbotron-fluid" src="/media/{{blog.blog_image}}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{blog.title}}</h2>
          <p class="card-text">{{blog.content}}</p>
          <a href="{% url 'resources:blog-detail' blog.id %}" class="btn btn-primary">Read More</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{blog.create_date}}
        </div>
      </div>
      {% endfor %}
  </div>
 </div>

{% endblock %}