{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid">
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <img src="/static/images/kids.png" class="img-fluid mb-3" alt="Responsive image" width="300">
      <h1 class="mb-4">Blogs we &#10084;</h1>
      </ul>
    </div>
  </div>
</div>

 <div class="container col-sm-8">
      {% for blog in blog_list %}
      <div class="card mb-4 border shadow">
        <img class="card-img-top" src="/media/{{blog.blog_image}}" style="max-width: 1150px" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">Top 10 remote jobs</h2>
          <p class="card-text">{{blog.content}}</p>
          <a href="{% url 'resources:blog-detail' blog.id %}" class="btn btn-primary">Read More</a>
        </div>
        <div class="card-footer text-white bg-dark ">
          Posted on {{blog.create_date}}
        </div>
      </div>
      {% endfor %}
  </div>
 </div>

{% endblock %}