{% extends "main.html" %}

{% block content_additions %}

<div class="row justify-content-md-center mt-3">
  <div class="col-sm-5">
    <div class="container">
      <div class="card border-0">
        <div class="card-body border-0">
          <h1 class="card-title nav-item mt-5">Terms and Privacy</h1>
          <div class="row">
             <div class="col"><hr></div>
          </div>
          <!-- Start Job Description from database with correct format -->
          <!-- {{job.job_description}} -->
          <p class="card-text">
            At IWR, we value your privacy. Rest assured that the information you provided when you use our websites and related applications will be collected and used in the manner stated in this Policy. 
          </p>
          <p>
            All personal information such as company name, job description, salary range, address, contact number and email address will not be shared with any 3​rd​-party provider and will be solely used as a medium to connect employers and job applicants.  Apart from this basic purpose, IWR will use your information such as IP address, browser you used, date & time of website visit and other identifiers to provide better customer experience through analytics and to improve our platform to fit the user’s interest and optimize our system’s performance based on the growing user traffic & demand. 
          </p>
            <p>
              We are fully dedicated to protect our users’ personal information by using the latest technologies and security best practices. We have redundant servers with full encryption and we always make sure that your information is secure from unauthorized or unlawful. 
              IWR will never abuse your trust. This means that we will never share, sell, rent or otherwise disclose your personal or company information without your explicit consent. 
          </p>
          <h4 class="card-title nav-item mt-5">IWR by any means will not: </h4>
          <p class="card-text">
            <ul>
              <li>Place monitoring devices onto your computer such as web beacons, or single-pixel gifs. </li>
              <li>Tighten security across our infrastructure</li>
              <li>Send unsolicited communications for marketing purposes.</li>
            </ul>
            <p>To ensure the integrity of our privacy policy and to prevent unauthorized access & misuse of the company or job information, we have established physical, electronic and managerial procedures to safeguard and secure your user/company information. All user/company information is encrypted and stored on our servers hosted in AWS cloud environment.</p>
          </p>
          <h4 class="card-title nav-item mt-5">Fair Usage </h4>
          <p class="card-text">
            Our goal when collecting information is to provide users with a convenient, efficient, and safe experience. You agree that your user information may be used to provide the services you request, provide customer support, resolve disputes, troubleshoot problems, collect fees, prevent illegal activities, enforce our User Agreement, and improve our services.  
          </p>
          <h4 class="card-title nav-item mt-5">Listing Policy</h4>
          <h6 class="card-title nav-item mt-3">We prohibit any posting or listing of job openings and/or information of the following items: </h6>
          <p class="card-text">
            <ul>
              <li>Non-technical related jobs</li>
              <li>Illegal job which doesn’t comply with the company’s country of origin’s job policies </li>
              <li>Job listing that promotes illegal activity</li>
              <li>Chemical and Herbal Drugs</li>
              <li>Adult and Mature Contents</li>
              <li>Adult and Sexual related jobs</li>
              <li>Jobs involving Weapons, Firearms, Knives, Ammunition and Explosives </li>
              <li>Illegal Items</li>
              <li>Listings that promotes illegal activity</li>
            </ul>
          </p>
          <h4 class="card-title nav-item mt-5">Payments</h4>
          <p class="card-text">
           Your security is our top priority. We will not store or collect your payment card details nor use it on any illegal or unauthorized activities not mentioned on this Terms and Privacy agreement.</p>
          <p>All payment card information will be directly processed by our 3rd-party payment processor XXXXXXX wherein your personal information will be covered under their own Privacy policy - www.linktopolicy.com</p>
          <p>XXXX​ is a PCI-DSS compliant company and ensures that your personal and payment data is handled securely based on their standards.</p>
          <p>All payments will be directed to ​XXX ​website and IWR will not be held accountable for any misuse or fraud activities outside of our knowledge.</p>
          <p>Contact Us Please contact us at ​info@iwantremote.com​ for inquiries, payment issues or any complaints. </p>


          <!-- End Job Description from database with correct format -->
          <div class="row mt-5">
              <div class="col"></div>
              <div class="col-auto">
                  <button type="button" class="btn btn-danger btn-lg rounded" onclick="#">Any questions? Send us a mail! </button></div>
              <div class="col"></div>
          </div>
          <div class="container justify-content-md-center">
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}