{% extends "main.html" %}

{% block content_additions %}

<section class="team-section text-center">
  <h4 class="h1-responsive font-weight-bold my-5">Some of the real stories..</h4>
  <div class="row text-center">
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/fred.jpg" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Fred Garcia</h4>
        <h6 class="font-weight-bold blue-text my-3">Full Stack Developer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>At iWantRemote.com, I wouldn't go to work everyday to commute doing 9-5 job. Got hired by Juanbyte.com in just 3 days! Tons of jobs listed in this platform for tech!</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>

    </div>
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/dale.jpg" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Dale Torre</h4>
        <h6 class="font-weight-bold blue-text my-3">Django Developer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>Always wanted to work anywhere. iWantRemote was able to provide a list of jobs from great companies.</p>
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/robert.jpg" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Robert Capapas</h4>
        <h6 class="font-weight-bold blue-text my-3">Senior UI Designer</h6>
       <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>I don't have to go to the office to work anymore. Got hired by a amazing company allowing remote and work at home. At iWantRemote, I can pick any jobs I want. Lots of jobs listed. </p>
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team-section text-center">
  <div class="row text-center mt-5">
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/francis.jfif" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Francis Rufin</h4>
        <h6 class="font-weight-bold blue-text my-3">Senior Telephony/Voip Engineer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>In my experience in Telephony for 10 years, I can't image doing the work remotely. iWantRemote enabled that to me. </p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>

    </div>
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/mark.jpg" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Mark Mendoza</h4>
        <h6 class="font-weight-bold blue-text my-3">Senior System Engineer</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>It is truly amazing that I can work at home. Lots of great companies listing legit jobs with bigger paycheck!</p>
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="testimonial">
        <div class="avatar mx-auto">
          <img src="/static/images/kevin.jpg" width="250" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <h4 class="font-weight-bold dark-grey-text mt-4">Kevin Sumalde</h4>
        <h6 class="font-weight-bold blue-text my-3">Information Security Analyst</h6>
       <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>Tons of jobs listed for security. Remote work is the future of work. </p>
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-alt"> </i>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}