<div class="sticky-bottom py-5 mt-5 text-white bg-dark-gradient">
	<div class="row">
		<div class="col-md-6 ml-auto offset-md-3">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="single">
								<h3>Subscribe to get weekly jobs</h3>
									<form class="input-group" method="POST" action="{% url 'subscriber:add-subscriber' %}">
										{% csrf_token %}
										<input type="email" name="email" class="form-control form-control-md" placeholder="What's your email?" required>
										<span class="input-group-append">
											<button class="btn btn-success btn-theme btn-md" type="submit">Subscribe</button>
										</span>
									</form>
							</div>
						</div>	
					</div>
				</div>
		</div>
		<div class="col-4">
			<h3>{{ all_jobs }} <span class="small">Jobs Posted</span></h3>
				<button class="btn btn-danger btn-md rounded" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job today</button>
		</div>
	</div>
</div>


<div class="bg-light footer-copyright text-center text-dark-50 mt-2 py-1">
	<div class="col"><a href="\privacy\">Terms & Privacy</a> | <a href="mailto:info@iwantremote.com">Contact</a>
		<div class="mt-2">
                <button type="button" class="btn btn-primary rounded-circle btn-sm btn-fb" onclick="location.href='https://www.facebook.com/IWantRemote-123799179009952'"><i class="fa fa-facebook-f pr-1"></i></button>
                  <button type="button" class="btn btn-success rounded-circle btn-sm btn-slack">
                    <i class="fa fa-slack"></i></button>
                  <button type="button" class="btn btn-info rounded-circle btn-sm btn-tw" onclick="location.href='https://twitter.com/iwantremote'">
                    <i class="fa fa-twitter"></i></button>
                  <button type="button" class="btn btn-primary rounded-circle btn-sm btn-tw">
                    <i class="fa fa-linkedin"></i></button>
                  <button type="button" class="btn btn-danger rounded-circle btn-sm btn-tw">
                    <i class="fa fa-pinterest"></i></button>
                </button>
          </div>
	</div><h6 class="text-dark mt-2 "> © 2019 Copyright | IWantRemote.com</h6> 
</div>


