<div class="sticky-bottom footer-copyright mt-5 text-center py-4 text-white bg-dark">
<section class="home-newsletter">
	<div class="container">
		<div class="row">
			<div class="container col-sm-6">
				<div class="single">
					<h4>Subscribe to get weekly job updates</h4>
			<div class="input-group">
         		<input type="email" class="form-control" placeholder="Enter your email">
        			 <span class="input-group-btn">
         		<button class="btn btn-success" type="submit"> Subscribe</button>
       		  </span>
          	</div>
			</div>
		</div>
	</div>
</div>
</section>
</div>