<footer class="page-footer text-white font-small bg-dark pt-4 mt-5" style="padding-top: 50px">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Our Goal</h5>
        <p>Helping employees and companies save money. It’s likely we’re about to see more remote jobs in the tech market.</p>
      </div>
      <div class="col-md-2 mx-auto">
      </div>
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-2">{{ all_jobs }},212</h5>
        <h3><span class="small mt-3 mb-4">Jobs Posted</span></h3>
				<button class="btn btn-danger btn-md rounded" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job today</button>
		</div>
      </div>
    </div>
  </div>
  <ul class="list-unstyled list-inline text-center bg-dark-gradie">
    <li class="list-inline-item col-md-3">
      <h6 class="text-uppercase">Get job alert as soon as they are posted!<form class="input-group" method="POST" action="{% url 'subscriber:add-subscriber' %}">
										{% csrf_token %}
										<input type="email" name="email" class="form-control form-control-md mt-2" placeholder="What's your email?" required>
										<span class="input-group-append">
											<button class="mt-2 btn btn-success btn-theme btn-md" type="submit">Subscribe</button>
										</span>
									</form> </h6>
    </li>
  </ul>
  <ul class="text-white-50 list-unstyled list-inline text-center">
    <!-- Facebook -->
          <a href="https://www.facebook.com/IWantRemote-123799179009952" class="fb-ic" target="_blank">
            <i class="fa fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a href="https://twitter.com/iwantremote" class="tw-ic" target="_blank">
            <i class="fa fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a href="" class="slack-ic">
            <i class="fa fa-slack fa-lg white-text mr-4" target="_blank"> </i>
          </a>
          <!--Linkedin -->
          <a href="" class="li-ic">
            <i class="fa fa-linkedin fa-lg white-text mr-4" target="_blank"> </i>
          </a>
          <!--Pinterest-->
          <a href="" class="pin-ic">
            <i class="fa fa-pinterest fa-lg white-text" target="_blank"> </i>
          </a>
  </ul>
  <div class="text-white-50 footer-copyright text-center">Copyright © 2019 </div>
</footer>


