<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
  <div class="container">
    <a href="/jobs/"><img src="/static/images/logo6.png" height="35" alt="logo"></a>
    <!-- <a class="navbar-brand" href="#">IWR</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto navBar">
        <li class="nav-item">
          <a class="navbar-brand" href="{% url 'company:companies' %}">Remote Companies</a>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand" data-toggle="dropdown" href="#">Categories</a>
          <div class="dropdown-menu">
            {% for category in category_list %}
              <a class="dropdown-item" href="{% url 'category:categories' category.slugCatName %}">{{category.name}}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand" data-toggle="dropdown" href="#">Community</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www.facebook.com/IWantRemote-123799179009952" target="_blank">Facebook</a>
            <a class="dropdown-item" href="https://www.linkedin.com/company/iwantremote" target="_blank">LinkedIn</a>
            <a class="dropdown-item" href="https://twitter.com/iwantremote" target="_blank">Twitter</a>
            <a class="dropdown-item" href="https://bit.ly/31JVfi9" target="_blank">Slack</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-brand" data-toggle="dropdown" href="#">Resources</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'resources:privacy' %}">Privacy & Terms</a>
            <a class="dropdown-item" href="{% url 'resources:howitworks' %}">How It Works</a>
            <a class="dropdown-item" href="{% url 'resources:job_template' %}">Job Template</a>
            <a class="dropdown-item" href="{% url 'resources:blog' %}">Blog</a>
            <a class="dropdown-item" href="{% url 'resources:testimony' %}">Stories</a>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled">
        <button class="btn btn-danger mt-3 btn-sm" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job</button>
      </ul>
    </div>
  </div>
</nav>