<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>#1 Remote Tech Jobs</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico"/>  
</head>

<body>
  <!-- Navigation -->
  {% include "header.html" %}
  <!-- End Navigation -->

  <!-- Page Content -->
  {% block content_additions %}{% endblock %}
  <!-- End Page Content -->

  <!-- Footer -->
  {% include "footer.html" %}
  <!-- End Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/assets/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
