<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Facebook Meta -->
  <meta property="og:title" content="#1 Remote Tech Jobs">
  <meta property="og:description" content="Find your next remote jobs in software, support, engineering, telephony and many more...">
  <meta property="og:image" content="/static/images/bg1.png">
  <meta property="og:url" content="https://iwantremote.com">
  <!-- Twitter Meta -->
  <meta name="twitter:title" content="#1 Remote Tech Jobs">
  <meta name="twitter:description" content="Find your next remote jobs in software, support, engineering and many more...">
  <meta name="twitter:image" content="/static/images/bg1.png">
  <meta name="twitter:card" content="summary_large_image">
  <!-- HTML Meta -->
  <meta name="description" content="Find your next remote jobs in software, support, engineering and many more...">
  <meta name="author" content="iwantremote">  
  {% if job.title %}
    <title>{{job.title}} | IWantRemote</title>
  {% elif company.name %}
    <title>{{company.name}} | IWantRemote</title>
  {% elif categories.name %}
    <title>{{categories.name}} | IWantRemote</title>
  {% else %}
    <title>Remote Tech Jobs</title>
  {% endif %}
  <!-- Bootstrap core CSS -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <!-- markdown test -->
  <link href="/static/assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-wysiwyg/index.css" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  {% include "header.html" %}
  <!-- End Navigation -->

  <!-- Page Content -->
  {% block content_additions %}{% endblock %}
  <!-- End Page Content -->

  <!-- Footer -->
  {% include "footer.html" %}
  <!-- End Footer -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/assets/vendor/jquery/jquery.slim.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- markdown test -->
  <script src="/static/assets/vendor/bootstrap-wysiwyg/external/jquery.hotkeys.js"></script>
  <script src="/static/assets/vendor/bootstrap-wysiwyg/bootstrap-wysiwyg.js"></script>
  <!-- file upload -->
  <script>
      $(".custom-file-input").on("change", function() {
           var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
         });
  </script>

  {% block page_vendor_js_additions %}{% endblock %}

</body>

</html>
