{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid">
	<div class="row">
		<div class="col-lg-12 text-center mt-5">
			<img src="/static/images/bg1.png" class="img-fluid" alt="Responsive image" width="200">
			<h3 class="mt-2">We want to hear your feedback! </h3>
		</div>
	</div>
</div>


<section id="tabs" calss="project-tab">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-10">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="container mt-3">
							<div class="card border-0">
								<form method="POST" action="{% url 'feedback:create-feedback' %}">
									{% csrf_token %}
									<h6 class="card-title mt-3">Your Name<span style="color:red;"> *</span></h6>
									<input type="text" name="name" class="form-control form-control-lg col-md-12" style="background-color: #f6f6f6;" required>
									<h6 class="card-title mt-3">The Job Title or Position<span style="color:red;"> *</span></h6>
									<input type="text" name="job_title" class="form-control form-control-lg col-md-12" style="background-color: #f6f6f6;" required>
									<h6 class="card-title mt-3">Your Feedback<span style="color:red;"> *</span></h6>
									<textarea class="form-control form-control-lg col-md-12" name="feedback_content" rows="6" required></textarea>
									<button type="submit" class="btn btn-lg btn-danger mt-3">Submit</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}