{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron bg-white text-center">
	<img src="/static/images/success.png" class="img-fluid" alt="Responsive image" width="200">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">You have successfully added <strong>{{jobName}}</strong> under <strong>{{companyName|slice:":-5"}}</strong> </p>
  <p>
    Having trouble? <a href="mailto:info@iwantremote.com">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-success btn-md" href="{% url 'jobs:jobs' %}" role="button">Continue to see all jobs</a>
  </p>
</div>



{% endblock %}