{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid">
	<div class="row">
		<div class="col-lg-12 text-center mt-5">
			<img src="/static/images/bg1.png" class="img-fluid" alt="Responsive image" width="350">
			<h1 class="mt-2">Remote tech jobs, <span class="badge badge-primary"> viewed-daily</span>.</h1>
			<p>With over 1m monthly viewers, IWR is the #1 place to find and list remote tech jobs.</p>
			
			<ul class="list-unstyled">
				<button class="btn btn-danger mt-3 btn-lg rounded" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job for $199</button>
			</ul>
		</div>
	</div>
</div>

<div class="container col-sm-8 mt-4">
	     <form action="">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
              </div>
              <input type="search" placeholder="job contents, tags, title..." aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>
        </form>
</div>

<div class="container col-sm-8 mt-4">
	<div class="card border-0">
		<h3 class="text-dark mt-2"><img src="/static/images/trending.svg" class="img-fluid" alt="Responsive image" width="55"><a href="#" style="color: #343a40"> Featured Remote Jobs</a>
		    	
			<!-- <span class="card-text float-right"><small class="text-white">{{job.last_update}}</small></span> -->
			<span class="card-text"><small class="text-muted col-sm-8"> Last updated 3 mins ago</small></span>

		</h3>
		{% for job in jobs_list %}
		<div class="card-body shadow rounded mt-3 border-left-warning"> 
			<div class="float-right">
				<img src="/media/{{job.get_job_company}}" alt="Girl in a jacket" width="100" height="80">
			</div>
			<h4 class="card-title nav-item "><a href="{% url 'jobs:job-detail' job.id %}" style="color: #343a40; text-decoration: none;">{{job.title}}</a>
				<span class="badge badge-warning"> Featured </span>
				<span class="badge badge-warning"> Django </span>
				<span class="badge badge-warning"> Python </span>
				<h6 class="card-title nav-item text-muted">{{job.job_type}} ({{job.headquarters}})</h6>
			</h4>
			<p class="card-text text-dark text-truncate" style="max-width: 1000px;">
				{{job.description}}
			</p>
		</div>
		{% endfor %}
	</div>
</div>

{% for category in category_list %}
<div class="container col-sm-8 mt-5">
	<div class="card border-0">
		<h3 class="text-dark mt-2"><img src="/media/{{category.cat_image}}" class="img-fluid" alt="Responsive image" width="55"><a href="#" style="color: #343a40"> {{category.name}} Remote Jobs</a>
			<!-- <span class="card-text float-right"><small class="text-white">{{job.last_update}}</small></span> -->
			<span class="card-text"><small class="text-muted col-sm-8"> Last updated 3 mins ago</small></span>
		</h3>
		{% for job in category.jobs_per_category %}
		<div class="card-body shadow rounded py-3 border-left-primary mt-3"> 
			<div class="float-right">
				<img src="/media/{{job.get_job_company}}" alt="Girl in a jacket" width="100" height="80">
			</div>
			<h4 class="card-title nav-item "><a href="{% url 'jobs:job-detail' job.id %}" style="color: #343a40; text-decoration: none;">{{job.title}}</a>
				<span class="badge badge-primary"> Devops </span>
				<span class="badge badge-primary"> Django </span>
				<span class="badge badge-primary"> Python </span>
				<h6 class="card-title nav-item text-muted">{{job.job_type}} ({{job.headquarters}})</h6>
			</h4>
			<p class="card-text text-truncate" style="max-width: 1000px;">
				{{job.description}}
			</p>
		</div><br>
			<span class="text-dark"><a href="/jobs/" class="float-right" style="color: #343a40"> See more Featured Remote tech Jobs <img src="/static/assets/vendor/iconic/svg/arrow-thick-right.svg"></a></span>
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock %}