{% extends "main.html" %}

{% block content_additions %}

<div class="jumbotron-fluid">
	<div class="row">
		<div class="col-lg-12 text-center mt-5">
			<img src="/static/images/bg1.png" class="img-fluid" alt="Responsive image" width="200">
			<h2 class="mt-2 highlight-word">Remote tech jobs, <span class="text-decoration"> viewed-daily.</span></h2>
			<p>Every generation seeks flexible work options. Find amazing list of remote tech jobs today.</p>
			<ul class="list-unstyled">
				<button class="btn btn-danger mt-1 btn-md rounded" onclick="location.href='{% url 'jobs:create-job' %}'">Post a job for $199</button>
			</ul>
		</div>
	</div>
</div>

<div class="container col-sm-7 mt-4">
	     <form method="POST" action="{% url 'jobs:jobs' %}">
	     {% csrf_token %}
          <div class="bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search" style="color: black;"></i></button>
              </div>
              <input type="search" placeholder="Job contents, Position, Title..." name="search" aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>
        </form>
</div>


<div class="container col-sm-7 mt-4">
	<div class="card-0">
		<h5 class="text-dark mt-2"><img src="/static/images/featured.png" class="img-fluid" alt="Responsive image" width="40"><a href="#" style="color: #343a40"> Featured Jobs<span class="small"> ({{total_featured_jobs}})</a></span>

			<!-- <span class="card-text float-right"><small class="text-white">{{job.last_update}}</small></span> -->
			<span class="card-text"><small class="text-muted mt-2 float-right"> Last updated 3 mins ago</small></span>
		</h5>
		{% for job in jobs_list %}
		<a href="{% url 'jobs:job-detail' job.slugTitle %}" style="color: #343a40; text-decoration: none;">
			<div class="card-body-1 py-3 rounded mt-3 border-left-warning"> 
				<div class="float-right">
					<img src="/media/{{job.get_job_company}}" alt="Responsive image" style="max-width: 100px">
				</div>
				<span class="text-muted small" style="z-index:15;position:relative; left:-30px; top:-10px">{{job.create_date|date:"M d"}}</span>
				<h6 class="card-title nav-item">{{job.get_company_name}}</h6>
				<h5 class="card-title nav-item text-truncate" style="max-width: 700px;">{{job.title}}
					{% if job.is_featured %}
						<span class="text-dark badge badge-warning float-right" style="font-size: medium; margin-right: 50px;"> Featured </span>
					{% endif %} </h5>
					<h6 class="small card-title nav-item">{{job.job_type}} ({{job.region}})</h6>
			</div>
		</a>
		{% endfor %}
	</div>
</div>

{% for category in category_list %}
<div class="container col-sm-7 mt-5">
	<div class="card border-0">
		<h5 class="text-dark mt-2"><img src="/media/{{category.cat_image}}" class="img-fluid" alt="Responsive image" width="40"><a href="{% url 'category:categories' category.slugCatName %}" style="color: #343a40"> {{category.name}} <span class="small"> ({{category.total_jobs_per_category}})</a></span>
		</h5>
		{% for job in category.jobs_per_category %}
			<a href="{% url 'jobs:job-detail' job.slugTitle %}" style="color: #343a40; text-decoration: none;">
				{% if job.is_featured %}
					<div class="card-body-1 rounded py-3 mt-3 border-left-warning"> 
				{% else %}
					<div class="card-body-1 rounded py-3 rounded mt-3 border-left-primary"> 
				{% endif %}
						<div class="float-right">
								<img src="/media/{{job.get_job_company}}" alt="Responsive image" style="max-width: 100px">
						</div>
						<span class="text-muted small" style="z-index:15;position:relative; left:-30px; top:-10px">{{job.create_date|date:"M d"}}</span>
						<h6 class="card-title nav-item">{{job.get_company_name}}</h6>
						<h5 class="card-title nav-item text-truncate" style="max-width: 700px;" >{{job.title}}
							{% if job.is_featured %}
								<span class="text-dark badge badge-warning float-right" style="font-size: medium; margin-right: 50px;"> Featured </span>
							{% endif %}
							<h6 class="small card-title nav-item">{{job.job_type}} ({{job.region}})</h6>
						</h5>
					</div>
			</a>
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock %}